@model do_an_cuoi_ky.Models.MOHINH

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    form-group {
        font-weight: 800;
    }
    content{
        
    }

</style>



<div class="content">
    <h2 style="margin-left:20px;font-weight:bold; text-align:center"> CHỈNH SỬA SẢN PHẨM </h2>

    @using (Html.BeginForm("Edit", "NhaSanXuat", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="width:70%;margin:10px;margin-left:15px; margin-bottom:30px">

            <hr style="margin-bottom:40px" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaMH)

            <div class="form-group">
                @*@Html.LabelFor(model => model.TenMH, htmlAttributes: new { @class = "control-label col-md-2" })*@
                TÊN SẢN PHẨM
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenMH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenMH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Donvitinh, htmlAttributes: new { @class = "control-label col-md-2" })*@
                ĐƠN VỊ TÍNH
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Donvitinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Donvitinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-2" })*@
                GIÁ
                <div class="col-md-10">
                    <input type="text" name="DonGia" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })*@
                MÔ TẢ
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.HinhMinhHoa, htmlAttributes: new { @class = "control-label col-md-2" })*@
                HÌNH SẢN PHẨM
                <div class="col-md-10">

                    @*@Html.EditorFor(model => model.HinhMinhHoa, new { htmlAttributes = new { @class = "form-control" } })*@

                    <img src="~/Asset/img/@Model.HinhMinhHoa" />
                    @Html.ValidationMessageFor(model => model.HinhMinhHoa, "", new { @class = "text-danger" })
                <div style="margin-top:10px">
                    CHỌN ẢNH MỚI: 
                    <input type="file" name="HinhMinhHoa" />
                </div>
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.MaCD, "MaCD", htmlAttributes: new { @class = "control-label col-md-2" })*@
                MÃ CHỦ ĐỀ
                <div class="col-md-10">

                    <select name="MaCD">
                        @{
                            do_an_cuoi_ky.Models.QLBANMOHINHEntities db = new do_an_cuoi_ky.Models.QLBANMOHINHEntities();
                            var listMaChuDe = db.CHUDEs.ToList();
                            foreach (var item in listMaChuDe)
                            {
                                <option value="@item.MaCD">
                                    @item.TenChuDe
                                </option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.MaCD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
            @*@Html.LabelFor(model => model.MaNSX, "MaNSX", htmlAttributes: new { @class = "control-label col-md-2" })*@
            MÃ NHÀ SẢN XUẤT
                <div class="col-md-10">
                    <select name="MaNSX">
                        @{ 
                            
                            var listMaNSX = db.NHASANXUATs.ToList();
                            foreach(var item in listMaNSX)
                            {
                                <option value="@item.MaNSX">
                                    @item.TenNSX
                                </option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })*@
                NGÀY CẬP NHẬT
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.SoLuongBan, htmlAttributes: new { @class = "control-label col-md-2" })*@
                SỐ LƯỢNG BÁN
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuongBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuongBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.SoLuotXem, htmlAttributes: new { @class = "control-label col-md-2" })*@
                SỐ LƯỢT XEM
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuotXem, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuotXem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>