@using do_an_cuoi_ky.Models
@model List<MatHangMua>
@{ ViewBag.Title = "DatHang";
Layout = "~/Views/Shared/_MasterLayout.cshtml";
KHACHHANG khach = Session["Taikhoan"] as KHACHHANG; 
}


<h1 style="text-align:center ;color:blanchedalmond">THÔNG TIN GIỎ HÀNG</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th><h2 style="color:white">Mã Mô Hình</h2></th>
            <th><h2 style="color:white">Tên Mô Hình</h2></th>
            <th><h2 style="color:white">Ảnh Minh Hoạ</h2></th>
            <th><h2 style="color:white">Số lượng</h2></th>
            <th><h2 style="color:white">Đơn giá</h2></th>
            <th><h2 style="color:white">Thành tiền</h2></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mohinh in Model)
        {
<tr>
    <td><h3 style="color:blanchedalmond">@mohinh.MaMH</h3></td>
    <td><h3 style="color:blanchedalmond">@mohinh.TenMH</h3></td>
    <td><h3 style="color:blanchedalmond"><img src="~/Asset/img/@mohinh.AnhMinhHoa" /></h3></td>
    <td><h3 style="color:blanchedalmond">@mohinh.SoLuong</h3></td>
    <td><h3 style="color:blanchedalmond">@mohinh.DonGia</h3></td>
    <td><h3 style="color:blanchedalmond">@mohinh.ThanhTien()</h3></td>
</tr>}
        <tr style="font-weight:bold; text-align:right; color:red;">
            <td colspan="5"><h3>Tổng số lượng: @ViewBag.TongSL</h3></td>
            <td colspan="1"><h3>Tổng tiền: @ViewBag.TongTien</h3></td>
        </tr>
    </tbody>
</table>
<h1 style="text-align:center ;color:blanchedalmond">THÔNG TIN KHÁCH HÀNG</h1>
<table class="table table-bordered">


    <tr>
        <td><h3 style="color:blanchedalmond">Họ tên: </h3></td>
        <td><h3 style="color:blanchedalmond">@khach.HoTenKH</h3></td>
    </tr>
    <tr>
        <td><h3 style="color:blanchedalmond">Địa chỉ: </h3></td>
        <td><h3 style="color:blanchedalmond">@khach.DiaChiKH</h3></td>
    </tr>
    <tr>
        <td><h3 style="color:blanchedalmond">Điện thoại: </h3></td>
        <td><h3 style="color:blanchedalmond">@khach.DienThoaiKH</h3></td>
    </tr>
    <tr>
        <td><h3 style="color:blanchedalmond">Ngày đặt: </td>
        <td><h3 style="color:blanchedalmond">@DateTime.Now.ToShortDateString()</h3></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <h2 style="color:white">@Html.ActionLink("ĐỒNG Ý ĐẶT HÀNG", "DongYDatHang", null, new { @class = "btn btn - primary" })</h2>
        </td>
    </tr>


</table>

